@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Itim', cursive;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: #24305E;
}

h1 {
    font-size: 4rem;
}


h2{
    margin-bottom: 20px;
}
/*Menu*/
.menu-container {
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    height: 100%;
    width: 100%;
    transition: transform 0.5s;
}


.menu {
    border: 4px solid #A8D0E6;
    color: #A8D0E6;
    height: 500px;
    width: 500px;
    margin: 100px auto;
    background-color: #374785;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.mode-choices {
    display: flex;
    width: 65%;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
}

.mode {
    position: relative;
    border: 2px solid #A8D0E6;
    border-radius: 15px;
    padding: 10px 15px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

#vs-comp::before {
    content: attr(data-content);
    position: absolute;
    top: -25px;
    left: -1px;
    width: 120%;
    color: #f76c6c;
}

.mode:hover{
    -webkit-box-shadow: 1px 1px 15px 5px #A8D0E6; 
    box-shadow: 1px 1px 15px 5px #A8D0E6;
}

.usernames {
    display: flex;
    width: 70%;
    justify-content: space-around;
    margin-bottom: 30px;
}

#player-2 {
    display: none;
}

.user {
    width: 155px;
    text-align: center;
    font-family: inherit;
    font-size: 1.1rem;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #A8D0E6;
    color: #A8D0E6;
    padding: 5px;
}

.move-choices {
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin-bottom: 20px;
}

.move {
    display: flex;
    justify-content: center;
    font-size: xx-large;
    width: 70px;
    cursor: pointer;
    border: 2px solid #A8D0E6;
    border-radius: 15px;
    padding: 10px 15px;
    transition: all 0.2s ease-in-out;
}

.move:hover {
    -webkit-box-shadow: 1px 1px 15px 5px #A8D0E6; 
    box-shadow: 1px 1px 15px 5px #A8D0E6;
}

.start {
    border: 2px solid  #A8D0E6;
    border-radius: 15px;
    padding: 15px 25px;
    cursor: pointer;
    font-family: inherit;
    font-size: 1.5rem;
    background-color: transparent;
    color: inherit;
}

.start:hover {
    border-color:  #24305E;
    background-color: #A8D0E6 ;
    color:  #24305E;
}

.active {
    border-color: #24305E;
    background-color: #F8E9A1 !important;
    color: #24305E !important;
}

/*Board*/
table tr:first-child td {
    border-top: 0;
}

table tr:last-child td {
    border-bottom: 0;
}

table tr td:first-child {
    border-left: 0;
}

table tr td:last-child {
    border-right: 0;
}

.board {
    
    border-collapse: collapse;
}

.tile {
    border: 2px solid #A8D0E6;
    height: 200px;
    width: 200px;
    cursor: pointer;
}

.x {
    background-image: url(images/cross.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.o {
    background-image: url(images/circle.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}


.hide {
    transform: translateY(-100%);
}

/* End */

.end-container {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    transition: transform 0.5s;
    color: #A8D0E6;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(100%);
}

.winner {
    margin: 200px auto;
    font-size: 4rem;
    margin-bottom: 50px;
}

.play-again {
    border: 2px solid #A8D0E6;
    padding: 10px 15px;
    border-radius: 15px;
    font-size: 2rem;
    font-family: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.play-again:hover{
    border: 2px solid #24305E;
    background-color: #A8D0E6;
    color: #24305E;
}

@media only screen and (max-width: 400px) {
    .menu-container
    .menu {
        margin: 0;
        width: 100%;
        height: 100%;
    }

    .mode-choices {
        flex-direction: column;
        gap: 10px;
    }

    .usernames {
        flex-direction: column;
        align-items: center;
        gap: 10px;   
    }

    .tile {
        height: 120px;
        width: 120px;
    }

    
    .winner {
       text-align: center;
       word-wrap: break-word;
    }

}